.Button{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position:absolute;
}
.AddQue{
    position:absolute;
    background-color: rgb(122, 0, 184);
    width: 100px;
    height: 100px; 
}