.button{
     width: 484px;
     height: 52px;
     background: transparent;
     border-color: #B09B54;
     border-radius: 10%;
}
.password{
    width: 282px;
    height: 27px;
    background:transparent;
    border-color: #B09B54;
}