.calendar-wrapper {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .calender {
        width: 700px;
        height: 650px;
        background-color: #E8E8E8;
        position: relative;
        z-index: 1;
        border: 0.8px solid #000000;
        box-sizing: border-box;  
        border-radius: 15px;
    
        .txt{
            width:fit-content;
            height:fit-content;
            margin: 20px auto;
        }
        .txt-date{
            color: gray;
            margin:20px auto;
            width:fit-content;
            height:fit-content;
        }
        
        .week
        {
            width:450px;
            height:45px;
            background-color:#FFF5A2;
            border-radius:5px;
            box-shadow: 1px 3px 3px gray;
            margin: 10px auto;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            .txt-week{
            width:30px;
            height:fit-content;
            margin: auto;
            font-size:20px;
            font-weight:bold;
            .num-week{
                height:fit-content;
                width: fit-content;
                margin: auto;
                font-size: 12px;
            }
        }
        }
        .hours-wrapper
        {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            margin:0px 0px 0px 50px;

            .hour{
                width: 60px;
                height: 41px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background-color:  #FCFCFC;
                border-radius:5px;
                font-weight:bold;
                display:flex;
                justify-content: center;
                align-items: center;
                margin:5px;
            }
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        background: #E8E8E8;
    }
}